{% extends 'indexBase.html.twig' %}


{% block centre %}
<form method="post" class="corps">
    {% if error %}
        <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h2 style="color:#3f5048; font-size:40px; margin-top:70px;">Connectez-vous</h2>
    <label for="inputEmail" >Votre adresse mail: </label><br>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus ><br>
    <label for="inputPassword">Votre mot de passe: </label><br>
    <input type="password" name="password" id="inputPassword"  required><br>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="connecter" type="submit">
        Se connecter
    </button>
</form>
{% endblock %}
