<form method="post" action="{{ path('son_delete', {'id': son.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce fichier audio ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ son.id) }}">
    <button class="btnUser" style="width:150px;font-size:18px; margin-left:-20px; height:25px;">Supprimer</button>
</form>
