{% extends 'base.html.twig' %}

{% block title %}New Son{% endblock %}

{% block body %}
    <h1>Create new Son</h1>

    {{ include('son/_form.html.twig') }}

    <a href="{{ path('son_index') }}">back to list</a>
{% endblock %}
