<form method="post" action="{{ path('livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce livre et toutes ses ressources ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btnUser" style="width:150px;font-size:18px; margin-left:-20px;">Supprimer</button>
</form>
