{% extends 'indexBase.html.twig' %}

    {% block centre %}
        <div class="corps" style="width:50%;">
           <b style="margin-left:145px;font-family: Spinnaker;font-size: 20px;color:Red;">  {{ message }}</b>
            <h2>Contactez-nous</h2>
            <div class="text" style="width:100%;position:center; margin:auto;">
                {{ include('contact/_form.html.twig') }}
            </div>
        </div>

    {% endblock %}

