{% extends 'indexBase.html.twig' %}

    {% block centre %}
        <div class="corpsApropos" style="width:80%;">
            <h2>À propos de l'arbre des livres</h2>
            <div class="text">
            <p>&nbsp;&nbsp; L'arbre des livres est un outil qui vous permet à partir d'un livre de trouver toutes les ressources qui l'entourent.</p>
            <p>Si vous lisez un livre en ce moment, faites entrer son titre sur la page d'accueil, ou scannez son code-barre. Vous allez être rediriger vers une bulle de lecture, ou votre sens auditif vous transportera dans l'univers que décrit le livre.</p>
            <p>&nbsp;&nbsp;Ce site web vous permet de développer l'arbre de chaque livre. En ajoutant des documents, des images, des films et des conseils, vous allez faire pousser des fruits et des feuilles sur l'arbre, symbole des ressources qui s'enrichissent. </p>
            <p> Et si vous êtes bloqués dans votre lecture, vous pouvez poser toutes les questions que vous voulez, ou demandez des conseils. </p>
         </div>
        </div>

    {% endblock %}

