<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
       Vous avez récemment répondu à la question suivante:<br>
       {{ question.question }}
      <br> Elle concerne le livre : {{ livre.titre }}
       <br> Une autre réponse a été ajouté:
      <br> La réponse:
       <br> {{ reponse.reponse }}
    </body>
</html>
