<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        Une réponse a été ajouté à votre question : <br>
       {{ question.question }}
      <br> Cette question concerne le livre : {{ livre.titre }}
      <br> La réponse:
       <br> {{ reponse.reponse }}
    </body>
</html>
