<form method="post" action="{{ path('conseil_delete', {'id': conseil.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce conseil ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ conseil.id) }}">
    <button class="btnUser" style="width:150px;font-size:18px; margin-left:-20px;">Supprimer</button>
</form>
