{% extends 'base.html.twig' %}

{% block title %}Edit Conseil{% endblock %}

{% block body %}
    <h1>Edit Conseil</h1>

    {{ include('conseil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conseil_index') }}">back to list</a>

    {{ include('conseil/_delete_form.html.twig') }}
{% endblock %}
