<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <br>
    <button class="btnUser" style="width:150px;font-size:18px; margin-left:-20px;">Supprimer</button>
</form>
